*, *::after, *::before {
  box-sizing: border-box;  
  outline: none;
  font-family: 'Urbanist', sans-serif;
}
*::selection {
  background: #c3edf3;
}
  
:root {
  --fontsize-xs: 0.6em;
  --fontsize-s: 0.8em;
  --fontsize-l: 1.6em;
  --fontweight-thin: 300;
  --fontweight-medium: 400;
  --fontweight-thick: 600;
}
  
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1 {
  position: absolute;
  left: -1000px; /* makes it not visible on the screen but still visible in html for screenreaders*/
}
h2 {
  font-size: var(--fontsize-l);
  font-weight: var(--fontweight-medium);
}
h3 {
  font-size: var(--fontsize-s);
  font-weight: var(--fontweight-thick);
}
p {
  font-weight: var(--fontweight-thin);
}
li {
  font-size: var(--fontsize-xs);
  font-weight: var(--fontweight-thin);
  list-style-type: none;
} 
a {
  font-size: var(--fontsize-s);
  color: black;
  text-decoration: none;
}
footer label {
  font-size: var(--fontsize-s);
  font-weight: var(--fontweight-thin);
} 
input[type=email] {
  font-size: var(--fontsize-s);
  font-weight: var(--fontweight-thin);
} 
input[type=submit] {
  font-size: var(--fontsize-s);
  font-weight: var(--fontweight-thick);
} 
button {
  font-size: var(--fontsize-s);
  font-weight: var(--fontweight-thick);
}

  
/* ------------------------------------------------------------------------------------------ */
  
/* link underline animation */
.animateLink {
  display: inline;
  position: relative;
  overflow: hidden;
}
.animateLink::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 2%;
  background: black;
  transition-property: width;
  transition: 0.3s ease-out;
}
.animateLink:hover::after,
.animateLink:focus::after,
.animateLink:active::after {
  left: 0;
  right: auto;
  width: 100%;
}
  

/* prefers-reduced-motion */
@media (prefers-reduced-motion: reduce) {
  header svg path, /* removes etg. logo animation */
  section:first-of-type div ul, /* removes titel roulette animation */
  section:nth-child(4) div a:hover, /* removes button gradient animation */
  section:nth-child(4) div a:focus,
  footer svg path:nth-child(2), /* removes twitter animation */
  footer svg path:last-of-type,
  footer div:last-of-type ul:hover svg { 
    animation: none !important;
    -webkit-animation: none !important;
  }
  section { /* NO animation with intersectionObserver*/
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition: none !important;
  }
}

/* ------------------------------------------------------------------------------------------ */  
  
/* ----- ---------------------- ----- */
/* ----- CLASSES FOR JAVASCRIPT ----- */
/* ----- ---------------------- ----- */

/* changing header on scroll */
.fff {
  color: white;
}
.fffTransparent {
  background: rgba(255, 255, 255, 0.925);
}
.fff::after, .fffBg, .fffBg::before, .fffBg::after {
  background: white;
}
.fffFill {
  fill: white;
}

.ooo {
  color: black;
}
.oooBg, .oooBg::before, .oooBg::after {
  background: black;
}
.oooFill {
  fill: black;
}

.transparentText {
  color: transparent;
}
.transparent {
  background: transparent;
}
.displayNone {
  display: none;
}





/* ------------ ----- */
/* ----- HEADER ----- */
/* ----- ------ ----- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 97vw;
  max-width: 97vw;
  z-index: 300;
  margin: 0.8em 0 0 0.8em;
  padding: 0.6em 1.2em 0.4em 0.6em;
  user-select: none;
}

/* etq logo */
header svg {
  width: 90px;
  margin: 0.2em 0 0 1em;
  overflow: visible;
}
header svg path {
  animation: etq 6s infinite;
	transform-origin: center bottom;
}
header svg path:nth-of-type(1) {
  animation-delay: 0s;
}
header svg path:nth-of-type(2) {
  animation-delay: 0.2s;
}
header svg path:nth-of-type(4) {
  animation-delay: 0.4s;
}
  
@keyframes etq { /* bouncing logo */
	0%, 25%, 100% { transform: none; }
	5% { transform: scale(1.2, 0.8); }
	10% { transform: scale(0.8, 1.5) translateY(-0.25em); }
	15% { transform: scale(1, 0.7); }
	20% { transform: scale(0.9, 1.1); }
}
  
header div:first-of-type a:focus svg {
  transform: scale(-1, -1);
}

/* header for screen min-width: 1000px */
header nav {
  display: flex;
  flex-direction: row;
  width: 86vw;
  padding: 0 2em;
  justify-content: space-between;
}
  
header nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 210px;
}
header nav ul li {
  flex-direction: row;
}
header nav ul li a {
  font-size: 1.6em;
}
header div:last-of-type {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
}
header div:last-of-type:focus-within {
  background: #00BCD4;
}
header div:last-of-type a {
  align-items: center;
  font-size: 0.8em;
  line-height: 26px;
}
  
  
/* ----- ---------------- ----- */
/* ----- HEADER HAMBURGER ----- */
/* ----- ---------------- ----- */
header details {
  display: none;
}
  
@media only screen and (max-width: 1000px) {
  header {
    max-width: 97%;
  }
  header details {
    display: block;
  }
  header details ul {
    background: white;
    width: 100%;
    height: 86vh;
    position: absolute;
    left: 0;
    padding: 10px;
  }
  header details ul li {
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.726);
  }
  header details ul li a {
    font-size: 1.6em;
  }
  
  header summary {
    width: 35px;
    height: 35px;
    list-style-type: none;
    cursor: pointer;
  }
  header summary::-webkit-details-marker { /*removes marker in Safari (on mobile phone)*/
    display: none;
  }
  header summary span {
    position: absolute;
    display: block;
    top: 50%;
    width: 18px;
    height: 2.6px;
    margin: 0px 10px 0px 20px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
  }
  header summary span::before,
  header summary span::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 2.6px;
    border-radius: 4px;
  }
  header summary span::before {
    top: 6px;
  }
  header summary span::after {
    top: -6px;
  }
  
  header nav {
    display: none;
  }
}
@media only screen and (max-width: 925px) {
  header {
    max-width: 96%;
  }
}
@media only screen and (max-width: 845px) {
  header {
    max-width: 95%;
  }
}
@media only screen and (max-width: 745px) {
  header {
    max-width: 94%;
  }
}





/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/

/* if subgrid available, use subgrid */
@supports (grid-template-columns: subgrid !important) { /* ONLY Firefox supports */
  
  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2em;
  }
  
  
  /* ----- ------------- ----- */
  /* ----- FIRST SECTION ----- */
  /* ----- ------------- ----- */
  /*   img banner with titel   */
  
  section:first-of-type {
    position: relative;
    display: grid; 
    align-items: center;
    grid-template-columns: subgrid; 
    grid-column: 1 / -1;
  }
  
  section:first-of-type img {
    width: 100vw;
    object-fit: cover;
  
    grid-column: 1 / 13;
    grid-row: 1;
  }
  
  
  /* ----- -------------- ----- */
  /* ----- SECOND SECTION ----- */
  /* ----- -------------- ----- */
  /*            text            */
  
  section:nth-child(2) {
    margin-bottom: 3em;
    padding: 4em 2em 0 2em;
  
    display: grid; 
    align-items: center;
    grid-template-columns: subgrid; 
    grid-column: 1 / -1;
  }
  section:nth-child(2) h3 {
    grid-column: 1 / 7;
    grid-row: 2;
    align-self: flex-start;
  }
  section:nth-child(2) p:first-of-type {
    grid-column: 1 / 7;
    grid-row: 2;
    align-self: flex-end;
    padding-top: 2em;
  }
  section:nth-child(2) p:last-of-type {
    grid-column: 7 / 13;
    grid-row: 2;
    padding-top: 2em;
  }
  
  
  /* ----- ------------- ----- */
  /* ----- THIRD SECTION ----- */
  /* ----- ------------- ----- */
  /*   grid with img and text  */
  
  section:nth-child(3) {
    margin-left: 2em;
  
    display: grid; 
    align-items: center;
    grid-template-columns: subgrid; 
    grid-column: 1 / -1;
  }
  section:nth-child(3) img:first-of-type {
    grid-column: 1 / 7;
    grid-row: 3;
    width: 100%;
  }
  section:nth-child(3) img:nth-child(2) {
    grid-column: 7 / 10;
    grid-row: 3;
    align-self: end;
    width: 100%;
  }
  section:nth-child(3) img:last-of-type {
    grid-column: 10 / 13;
    grid-row: 3;
    align-self: end;
    width: 100%;
    padding-right: 2em;
  }
  section:nth-child(3) div {
    grid-column: 7 / 13;
    grid-row: 3;
    align-self: flex-start;
    padding-top: 8em;
  }
  
  
  /* ----- -------------- ----- */
  /* ----- FOURTH SECTION ----- */
  /* ----- -------------- ----- */
  /*      text and button       */
  
  section:nth-child(4) {
    margin-top: 4em;
    padding-right: 2em;
    
    display: grid; 
    align-items: center;
    grid-template-columns: subgrid; 
    grid-column: 1 / -1;
  }
  
  section:nth-child(4) div {
    grid-column: 7 / 13;
    grid-row: 4;
  }


  /* ----- ------------- ----- */
  /* ----- FIFTH SECTION ----- */
  /* ----- ------------- ----- */
  /*           video           */
  
  section:nth-child(5) {
    margin-top: 4em;
    padding: 0 2em;
  
    display: grid; 
    align-items: center;
    grid-template-columns: subgrid; 
    grid-column: 1 / -1;
  }
  section:nth-child(5) video {
    grid-column: 1 / 13;
    grid-row: 5;
    width: 100%;
  }
  

  /* ----- ------------- ----- */
  /* ----- SIXTH SECTION ----- */
  /* ----- ------------- ----- */
  /*       img and text        */
  
  section:nth-child(6) {
    margin: 2em 0 0 2em;
    padding: 6em 2em 0 0;
  
    display: grid; 
    align-items: center;
    grid-template-columns: subgrid; 
    grid-column: 1 / -1;
  }
  section:nth-child(6) div {
    grid-column: 1 / 7;
    grid-row: 6;
    margin-right: 0;
  }
  section:nth-child(6) img {
    width: 100%;
    grid-column: 7 / 13;
    grid-row: 6;
  }
  

  /* ----- --------------- ----- */
  /* ----- SEVENTH SECTION ----- */
  /* ----- --------------- ----- */
  /*    grid with img and text   */
  
  section:nth-child(7) {
    margin: 2em 0 0 2em;
    padding: 6em 2em 0 0;
    
    display: grid; 
    align-items: center;
    grid-template-columns: subgrid; 
    grid-column: 1 / -1;
  }
  section:nth-child(7) img:first-of-type {
    grid-column: 1 / 7;
    grid-row: 7;
    width: 100%;
  }
  section:nth-child(7) img:last-of-type {
    grid-column: 7 / 13;
    grid-row: 7;
    align-self: end;
    width: 33%;
  }
  section:nth-child(7) div {
    grid-column: 7 / 13;
    grid-row: 7;
    align-self: flex-start;
    padding-top: 12em;
  }
  
  
  /* ----- -------------- ----- */
  /* ----- EIGHTH SECTION ----- */
  /* ----- -------------- ----- */
  /*            text            */
  
  section:nth-child(8) {
    margin-top: 4em;
    padding-right: 2em;
    
    display: grid; 
    align-items: center;
    grid-template-columns: subgrid; 
    grid-column: 1 / -1;
  }
  
  section:nth-child(8) div {
    grid-column: 7 / 13;
    grid-row: 8;
  }
  

  /* ----- ------------- ----- */
  /* ----- NINTH SECTION ----- */
  /* ----- ------------- ----- */
  /*         img grid          */
  
  section:nth-child(9) {
    margin: 0.4em 0 0 2em;
    padding: 3.6em 2em 0 0;
    
    display: grid; 
    align-items: center;
    grid-template-columns: subgrid; 
    grid-column: 1 / -1;
  }
  section:nth-child(9) img:first-of-type {
    width: 100%;
    grid-column: 4 / 13;
    grid-row: 9;
  }
  section:nth-child(9) img:last-of-type {
    width: 100%;
    grid-column: 1 / 4;
    grid-row: 9;
  }
}





/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/

/* intersection observer */
section {
  letter-spacing: 2px;
  opacity: 0;
  transform: translateY(10%);
  transition: opacity 150ms ease-in, transform 250ms ease-in;
}
.appear {
  opacity: 1;
  transform: translateY(0);
}
/* ---------------------- */

/* ----- ------------- ----- */
/* ----- FIRST SECTION ----- */
/* ----- ------------- ----- */
/*   img banner with titel   */

section:first-of-type {
  position: relative;
  transform: translateY(0); /* makes sure the intersectionObserver doesn't scroll */
}

section:first-of-type img {
  width: 100vw;
  object-fit: cover;
}

@media only screen and (max-width: 1000px) {
  section:first-of-type img {
    height: 80vw;
  }
}
@media only screen and (max-width: 376px) {
  section:first-of-type {
    margin-bottom: 2em;
  }
  section:first-of-type img {
    height: 65vh;
  }
}

#roulette {
  position: absolute;
  bottom: 14%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
section:first-of-type div ul {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all 1s;
  animation: 2s linear 0s infinite roulette;
}
section:first-of-type div li {
  font-size: var(--fontsize-l);
  font-weight: var(--fontweight-medium);
}

section:first-of-type div h2{
  margin-right: 0.3em;
}

section:first-of-type div div {
  height: 1.6em;
  overflow: hidden;
  align-self: center;
}

@keyframes roulette {
  from { transform: translateY(0); }
  to { transform: translateY(-9.4em); }
}




/* ----- -------------- ----- */
/* ----- SECOND SECTION ----- */
/* ----- -------------- ----- */
/*            text            */

section:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3em;
  padding: 4em 2em 2em 2em;
  gap: 0 1em;
}
section:nth-child(2) h3 {
  flex-basis: 100%;
}
section:nth-child(2) p {
  flex-basis: 48%;
}

@media only screen and (max-width: 1000px) {
  section:nth-child(2) p {
    flex-basis: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 376px) {
  section:nth-child(2) {
    padding: 0 2em;
  }
}



/* ----- ------------- ----- */
/* ----- THIRD SECTION ----- */
/* ----- ------------- ----- */
/*   grid with img and text  */

section:nth-child(3) {
  max-width: 100vw;
  position: relative;
  margin-left: 2em;
  display: grid; 
  align-items: center;
  grid-template-columns: 1.5fr 1fr 1fr; 
  grid-template-rows: 1fr 0.5fr; 
  gap: 0 2em; 
  grid-template-areas: 
    "img text ."
    "img img2 img3"; 
}

section:nth-child(3) img:first-of-type { 
  grid-area: img; 
  width: 46vw;
}
section:nth-child(3) img:nth-child(2) { 
  grid-area: img2; 
  width: 100%;
}
section:nth-child(3) img:last-of-type { 
  grid-area: img3; 
  align-self: flex-end;
  width: 100%;
  padding-right: 2em;
}
section:nth-child(3) div { 
  grid-area: text; 
}

@media only screen and (max-width: 1000px) {
  section:nth-child(3) {
    max-width: 100vw;
    position: relative;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: 1fr 0.5fr 0.5fr;
    gap: 0 2em; 
    grid-template-areas: 
    "img img"
    "text text"
    "img2 img3"; 
  }
  section:nth-child(3) img:first-of-type { 
    grid-area: img; 
    width: 100%;
    padding-right: 2em;
  }
  section:nth-child(3) img:nth-child(2) { 
    grid-area: img2; 
    width: 100%;
  }
  section:nth-child(3) img:last-of-type { 
    grid-area: img3; 
    width: 100%;
    align-self: center;
  }
}

@media only screen and (max-width: 376px) {
  section:nth-child(3) div { 
    margin-top: 2em;
  }
}



/* ----- -------------- ----- */
/* ----- FOURTH SECTION ----- */
/* ----- -------------- ----- */
/*      text and button       */

section:nth-child(4) {
  margin-top: 4em;
  padding-right: 2em;
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: 0.25fr; 
  grid-template-areas: 
    ". textAndButton"; 
  gap: 0 2em; 
}

section:nth-child(4) div {
  grid-area: textAndButton;
}
section:nth-child(4) div a {
  width: 60%;
  display: inline-block;
  margin-top: 2em;
  padding: 1.2em;
  text-align: center;
  background: white;
  border: 1px solid lightgrey;
  transition: 0.5s;
}
section:nth-child(4) div a:hover, 
section:nth-child(4) div a:focus {
  color: white;
  box-shadow: 0 5px 8px rgba(33,150,243,0.25);
	background: linear-gradient(to right,#00BCD4 0%,#2196F3 100%);
	background-size: 400%;
	animation: gradient 1.5 ease infinite;
  -webkit-animation: gradient 1.5s ease infinite;
}

@keyframes gradient {
	0%, 100% { background-position: 0 50%; }
	50% { background-position: 100% 50%; }
}

@media only screen and (max-width: 990px) {
  section:nth-child(4) div a {
    width: 100%;
    font-size: 0.6em;
  }
}
@media only screen and (max-width: 765px) {
  section:nth-child(4) {
    margin-left: 2em;
    padding-right: 2em; 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.25fr; 
    grid-template-areas: 
      "textAndButton"; 
  }
  section:nth-child(4) div a {
    width: 100%;
    font-size: 0.6em;
  }
}





/* ----- ------------- ----- */
/* ----- FIFTH SECTION ----- */
/* ----- ------------- ----- */
/*           video           */

section:nth-child(5) {
  margin-top: 4em;
  padding: 0 2em;
}
section:nth-child(5) video {
  width: 100%;
}





/* ----- ------------- ----- */
/* ----- SIXTH SECTION ----- */
/* ----- ------------- ----- */
/*       img and text        */

section:nth-child(6) {
  margin: 2em 0 0 2em;
  padding: 6em 2em 0 0;
  display: grid; 
  align-items: center;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: 1fr; 
  gap: 0 2em; 
  grid-template-areas: 
    "textLaces imgLaces"; 
}
section:nth-child(6) div {
  grid-area: textLaces;
}
section:nth-child(6) img {
  grid-area: imgLaces;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  section:nth-child(6) {
    margin-left: 2em;
    padding-right: 2em;
    display: grid; 
    align-items: center;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.25fr 1fr; 
    gap: 0 2em; 
    grid-template-areas: 
      "textLaces" "imgLaces"; 
  }
  section:nth-child(6) div {
    margin-bottom: 6em;
    grid-area: textLaces;
  }
  section:nth-child(6) img {
    grid-area: imgLaces;
  }
}





/* ----- --------------- ----- */
/* ----- SEVENTH SECTION ----- */
/* ----- --------------- ----- */
/*    grid with img and text   */

section:nth-child(7) {
  margin: 2em 0 0 2em;
  padding: 6em 2em 0 0;
  display: grid; 
  align-items: center;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: 1.5fr 0.5fr; 
  gap: 0 2em; 
  grid-template-areas: 
    "imgInsoles textInsoles"
    "imgInsoles productInsoles"; 
}
section:nth-child(7) img:first-of-type {
  grid-area: imgInsoles;
  width: 100%;
}
section:nth-child(7) img:last-of-type {
  grid-area: productInsoles;
  width: 33%;
}
section:nth-child(7) div {
  grid-area: textInsoles;
}

@media only screen and (max-width: 1000px) {
  section:nth-child(7) {
    margin-left: 2em;
    padding-right: 2em;
    display: grid; 
    align-items: center;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.5fr 2fr 0.5fr; 
    gap: 0 2em; 
    grid-template-areas: 
    "textInsoles"
    "imgInsoles"
    "productInsoles"; 
}
  section:nth-child(7) div {
    margin-bottom: 4em;
  }
  section:nth-child(7) img:first-of-type {
    margin-top: 6em;
  }
  section:nth-child(7) img:last-of-type {
    justify-self: flex-end;
    margin-top: 2em;
  }
}
@media only screen and (max-width: 375px) {
  section:nth-child(7) div {
    margin-bottom: 1.6em;
  }
}





/* ----- -------------- ----- */
/* ----- EIGHTH SECTION ----- */
/* ----- -------------- ----- */
/*            text            */

section:nth-child(8) {
  margin-top: 4em;
  padding-right: 2em;
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.25fr; 
  grid-template-areas: 
    ". text"; 
  gap: 0 2em; 
}

section:nth-child(8) div {
  grid-area: text;
}

@media only screen and (max-width: 765px) {
  section:nth-child(8) {
    margin: 6em 0 0 2em;
    padding-right: 2em; 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.25fr; 
    grid-template-areas: 
      "text"; 
  }
}





/* ----- ------------- ----- */
/* ----- NINTH SECTION ----- */
/* ----- ------------- ----- */
/*         img grid          */

section:nth-child(9) {
  margin: 0.4em 0 0 2em;
  padding: 3.6em 2em 0 0;
  display: grid; 
  align-items: center;
  grid-template-columns: 0.4fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0 2em; 
  grid-template-areas: 
    "productArch imgArch";
}
section:nth-child(9) img:first-of-type {
  grid-area: productArch;
  width: 100%;
}
section:nth-child(9) img:last-of-type {
  grid-area: imgArch;
  width: 100%;
}

@media only screen and (max-width: 765px) {
  section:nth-child(9) {
    margin: 4em 0 0 2em;
    padding-right: 2em;
    display: grid; 
    align-items: center;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(2, 0.8fr); 
    gap: 0 2em; 
    grid-template-areas: 
      "imgArch"
      "productArch"; 
  }
  section:nth-child(9) img:first-of-type {
    width: 50%;
  }
}


/* ------ ------------ ------ */
/* ------ LAST SECTION ------ */
/* ------ ------------ ------ */
/*       toggle button        */

section:last-of-type {
  position: fixed;
  left: 50%;
  top: 93%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 0.8em;
}
section:last-of-type p, section:last-of-type a {
  font-size: 1em;
}

section:last-of-type input[type="checkbox"] {
  display: none;
}
section:last-of-type input[type="checkbox"]:checked ~ label div div:first-of-type a {
  font-weight: 300;
}
section:last-of-type input[type="checkbox"]:checked ~ label div div:first-of-type a:last-of-type {
  z-index: 3;
}
section:last-of-type input[type="checkbox"]:checked ~ label div div:last-of-type {
  left: calc(50% + 0.25em);
}
section:last-of-type label div {
  position: relative;
  max-width: 20em;
  margin: 0 auto;
  user-select: none;
  cursor: pointer;
}
section:last-of-type div div:first-of-type {
  min-width: 215px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 3em;
  transition: 0.2s;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
  border: 1px solid rgb(221, 221, 221);
}
section:last-of-type div div:first-of-type a {
  z-index: 3;
  padding: 1em 2em;
  text-align: center;
  font-weight: 300;
}
section:last-of-type div div:last-of-type {
  position: absolute;
  top: 0.25em;
  z-index: 2;
  width: calc(50% - 0.5em);
  height: calc(100% - 0.5em);
  padding-right: 7.8em;
  border-radius: 3rem;
  background-color: black;
  transition: 0.2s;
}
.left {
  transform: translateX(0.3em);
}
.right {
  transform: translateX(8.6em);
}
section:last-of-type div div:first-of-type p {
  position: absolute;
  z-index: 1;
  color: black;
}
section:last-of-type div div:first-of-type p:first-of-type {
  left: 2em;
}
section:last-of-type div div:first-of-type p:last-of-type {
  right: 2.9em;
}

section:last-of-type div div:focus-within {
  border: 1px dashed;
}


/* ----- ------------ */
/* ----- FOOTER ----- */
/* ----- ------ ----- */

footer {
  position: relative;
  display: flex;
  margin-top: 10em;
  padding-bottom: 2em;
}
footer ul {
  padding: 0;
  list-style-type: none;
}
footer li {
  font-size: 0.8em;
  line-height: 2em;
  cursor: pointer;
}
footer div:nth-child(2) li{
  line-height: 1.3em;
}

footer p {
  padding-top: 0.5em;
  font-size: 0.8em;
}

footer div {
  padding: 0 1em 0 2em;
  flex-grow: 1;
}
footer div:first-of-type {
  flex-grow: 2;
  max-width: 33%;
}

footer details, footer form {
  display: none;
}

footer div:nth-of-type(2) ul li:hover {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z'/%3E%3C/svg%3E") 25 15, pointer;
}
footer div:nth-of-type(3) ul li:first-of-type:hover {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12 12.713l-11.985-9.713h23.971l-11.986 9.713zm-5.425-1.822l-6.575-5.329v12.501l6.575-7.172zm10.85 0l6.575 7.172v-12.501l-6.575 5.329zm-1.557 1.261l-3.868 3.135-3.868-3.135-8.11 8.848h23.956l-8.11-8.848z'/%3E%3C/svg%3E") 25 15, pointer;
}
footer div:nth-of-type(3) ul li:last-of-type:hover {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M18.48 22.926l-1.193.658c-6.979 3.621-19.082-17.494-12.279-21.484l1.145-.637 3.714 6.467-1.139.632c-2.067 1.245 2.76 9.707 4.879 8.545l1.162-.642 3.711 6.461zm-9.808-22.926l-1.68.975 3.714 6.466 1.681-.975-3.715-6.466zm8.613 14.997l-1.68.975 3.714 6.467 1.681-.975-3.715-6.467z'/%3E%3C/svg%3E") 25 15, pointer;
}


/* ----- twitter animation ----- */
footer svg {
	position: absolute;
  bottom: 30%;
  right: 8vw;
	height: 3vh;
	transform: rotate(20deg);
}

footer svg path:first-of-type { /* 1st wing */
	fill: #5da8dc;
}
footer svg path:nth-child(2) { /* 2nd wing */
	fill: #5da8dc;
	transform-origin: center;
	animation: flapperen 0.4s ease-out infinite alternate;
}	
footer svg path:last-of-type { /* body of bird */
	fill: #c4dff2;
	transform-origin: center;
	animation: flapperen 0.4s ease-in infinite alternate;
}	 	
footer div:last-of-type:hover svg {
  animation: vliegen 10s ease-out ;
}

@keyframes flapperen { /* flapping wings */
  50% { transform: scaleX(-1) rotate(-45deg) translate(-40px,-40px); }
}

@keyframes vliegen { /* flying across screen */
  0% { transform: translate(0, 0); }
  10% { transform: translate(2em, -2em); }
  15% { transform:  translate(2em, -2em) scale(-1, 1); }
  100% { transform: scale(-1, 1) translate(84em, -6em); }
}


/* ----- ------------------ ----- */
/* ----- FOOTER 'HAMBURGER' ----- */
/* ----- ------------------ ----- */

@media only screen and (max-width: 1000px) {
  footer {
    display: block;
    margin-top: 4em;
  }
  footer div:first-of-type,
  footer div:nth-child(6), 
  footer div:nth-child(7) h3, 
  footer div:nth-child(8), 
  footer div:last-of-type {
    display: none;
  }
  footer div:nth-child(7) {
    margin-top: 2em;
  }
    
  footer p, footer ul {
    max-width: 88vw;
    border-bottom: 1px solid rgba(224, 224, 224, 0.726);
  }
  footer div:nth-child(7) ul {
    border-bottom: none;
  }
    
  footer details {
    display: block;
    margin-left: 2em;
  }
  footer summary {
    position: relative;
    max-width: 100%;
    width: 94vw;
    padding: 20px 0;
    font-size: 0.8em;
    font-weight: 600;
    list-style-type: none;
    border-bottom: 1px solid rgba(224, 224, 224, 0.726);
    cursor: pointer;
  }
  footer summary::-webkit-details-marker {
    display: none
  }
      
  footer summary::after,
  footer details[open] summary::after {
    position: absolute;
    right: 4%;
    font-size: 1.2em;
  }
  footer summary::after {
    content: ' \002B'; /* plus sign */
  }
  footer details[open] summary::after {
    content: " \002D"; /* minus sign */
  }

  footer form {
    display: block;
    margin-left: 2em;
    max-width: 100%;
  }
  footer form label[for=email] {
    line-height: 1.3em;
    margin-right: 1em;
  }

  footer form input[type=email] {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    line-height: 1.3em;
    margin-right: 1em;
  }
  footer form input[type=email]:focus {
    border-bottom: 1px solid black;
  }
  footer form input[type=submit] {
    background: none;
    border: none;
    border-bottom: 1px solid black;
    line-height: 1.3em;
    color: black;
    font-size: var(--fontsize-s);
    font-weight: var(--fontweight-thin);
    margin: 0;
  }
}

@media only screen and (max-width: 925px) {
  footer {
    max-width: 96%;
  }
}
@media only screen and (max-width: 845px) {
  footer {
    max-width: 95%;
  }
}
@media only screen and (max-width: 745px) {
  footer {
    max-width: 94%;
  }
}