/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;  
}

:root {
  --main-font: 'Urbanist', sans-serif;
  --font-color: black;
  --letter-spacing: 2px;
  --nav-static: white;
  --nav-scroll: black;
  --js-color: white;
  --js-zero: black;
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
h2 {
  font-family: var(--main-font);
  font-size: 1.6em;
  font-weight: 400;
}
h3 {
  font-family: var(--main-font);
  font-size: 0.8em;
  font-weight: 600;
}
p {
  font-family: var(--main-font);
  font-size: 0.6em;
  font-weight: 300;
}
li {
  font-family: var(--main-font);
  font-size: 0.6em;
  list-style-type: none;
  font-weight: 300;
} 
a {
  font-family: var(--main-font);
  font-size: 0.8em;
  color: var(--font-color);
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------------ */

.animateLink {
  display: inline;
  position: relative;
  overflow: hidden;
}
.animateLink:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: var(--font-color);
  height: 2%;
  transition-property: width;
  transition: 0.3s ease-out;
}
.animateLink:hover:after,
.animateLink:focus:after,
.animateLink:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
.fff:after {
  background: var(--js-color);
}


/* ------------------------------------------------------------------------------------------ */
/* ----- header ----- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 97vw;
  max-width: 97vw;
  z-index: 300;
  margin: 0.8em 0 0 0.8em;
  padding: 0.6em 1.2em 0.4em 0.6em;
}
header svg {
  fill: var(--js-color);
  width: 90px;
  margin: 0.2em 0 0 1em;
}

header nav {
  /* background: blue; */
  display: flex;
  flex-direction: row;
  width: 86vw;
  padding: 0 2em;
  justify-content: space-between;
}
@media only screen and (min-width: 1450px) {
  header nav {
    width: 80vw;
  }
}

header nav ul {
  display: flex;
  justify-content: space-between;
  /* background: blue; */
  padding: 0;
  width: 210px;
}
header nav ul li {
  flex-direction: row;
}
header nav ul:first-of-type li a {
  color: var(--nav-static);
  font-size: 1.6em;
}
header nav ul:last-of-type li a {
  color: var(--nav-scroll);
  font-size: 1.6em;
}
header div:last-of-type {
  background: var(--nav-scroll);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
}
header div:last-of-type a {
  align-items: center;
  color: var(--nav-static);
  font-size: 0.8em;
  line-height: 26px;
}




/* HEADER hamburger menu */
header details {
  display: none;
}

@media only screen and (max-width: 1000px) {
  header {
    max-width: 97%;
  }
  header div:last-of-type {
    
    background: var(--js-color);
  }
  header div:last-of-type a {
    color: var(--js-zero);
  }
  header details {
    display: block;
  }
  header details ul {
    background: white;
    width: 100%;
    height: 86vh;
    position: absolute;
    left: 0;
    padding: 10px;
  }
  header details ul li {
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.726);
  }
  header details ul li a {
    font-size: 1.6em;
  }

  header summary {
    list-style-type: none;
    /* background: red; */
    height: 35px;
    width: 35px;
    cursor: pointer;
  }
  header summary::-webkit-details-marker { /*removes marker in Safari (on mobile phone)*/
    display: none;
  }
  header summary span {
    display: block;
    height: 2.6px;
    width: 18px;
    border-radius: 4px;
    background-color: var(--js-color);
    margin: 0px 10px 0px 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
  }
  header summary span:before {
    content: '';
    height: 2.6px;
    width: 18px;
    border-radius: 4px;
    background-color: var(--js-color);
    position: absolute;
    top: 6px;
  }

  header summary span::after {
    content: '';
    height: 2.6px;
    width: 18px;
    border-radius: 4px;
    background-color: var(--js-color);
    position: absolute;
    top: -6px;
  }

  header nav {
    display: none;
  }
}
@media only screen and (max-width: 925px) {
  header {
    max-width: 96%;
  }
}
@media only screen and (max-width: 845px) {
  header {
    max-width: 95%;
  }
}
@media only screen and (max-width: 745px) {
  header {
    max-width: 94%;
  }
}

/* ------------------------------------------------------------------------------------------ */
/* ---------------------- */

section {
  letter-spacing: var(--letter-spacing);
  color: var(--font-color);
}

/* ----- first section ----- */

section:first-of-type {
  position: relative;
}
section:first-of-type img {
  height: 100vh;
  left:0;
  top: 0;
  width: 70%;
  object-fit: cover;
}

section:first-of-type div {
  position: absolute;
  /* background-color: red; */
  transform: translateY(-50%);
  left: 70%;
  top: 50%;
  padding: 0 9% 1.6% 3%;
} 

@media only screen and (max-width: 1000px) {
  section:first-of-type img {
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
  }
  section:first-of-type div {
    position: absolute;
    max-width: 400px;
    /* background-color: red; */
    transform: translateY(0%);
    left: 2%;
    top: 70%;
    color: white;
  }
  section:first-of-type a {
    color: white;
  }
  .animateLink:after {
    background: white;
  }
}

section:first-of-type h2 span {
  background-image: linear-gradient(120deg, #63c4fd 0%, #3de295 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
section:first-of-type h2 span:hover { 
  background-size: 100% 88%;
}

section:first-of-type p {
  line-height: 200%;
}



/* ------------------------------------------------------------------------------------------ */
/* ----- second section ----- */

section:nth-child(2) {
  display: flex;
  margin: 6em 0 0 0;
  padding-left: 2em;
  gap: 2em;
}
section:nth-child(2) article {
  display: flex;
  align-items: center;
  width: 100vw;
}
section:nth-child(2) div {
  padding-left: 2em;
} 
section:nth-child(2) img {
  width: 44%;
}
section:nth-child(2) a {
  font-size: 0.6em;
  line-height: 6em;
}

@media only screen and (max-width: 745px) {
  section:nth-child(2) {
    flex-wrap: wrap;
    gap: 1em;
  }
  section:nth-child(2) article:nth-child(2), section:nth-child(2) article:last-of-type {
    width: 47%;
  }
}

@media only screen and (max-width: 1000px) {
  section:nth-child(2) {
    margin-top: 2em;
  }
  section:nth-child(2) {
    padding-right: 2em;
  }
  section:nth-child(2) article {
    display: block;
  }
  section:nth-child(2) div {
    padding: 0;
  }
  section:nth-child(2) img {
    width: 100%;
  }
}

/* ------------------------------------------------------------------------------------------ */
/* ----- third section ----- */

section:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  margin: 2em 2em 4em 2em;
  gap: 2em;
}
section:nth-child(3) div {
  position: relative;
  flex: 1;
}
section:nth-child(3) img {
  width: 100%;
}
section:nth-child(3) h2 {
  width: 100%;
  margin: 2em 0 0 0;
}

section:nth-child(3) button {
  position: absolute;
  height: 7%;
  width: 9%;
  padding: 0;
  transition: 1s;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.822);
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
section:nth-child(3) div:first-of-type:hover #terugKnop1, section:nth-child(3) div:first-of-type:hover #vooruitKnop1 {
  opacity: 1;
  transition: 0.5s;
}
section:nth-child(3) div:nth-child(3):hover #terugKnop2, section:nth-child(3) div:nth-child(3):hover #vooruitKnop2 {
  opacity: 1;
  transition: 0.5s;
}
section:nth-child(3) div:last-of-type:hover #terugKnop3, section:nth-child(3) div:last-of-type:hover #vooruitKnop3 {
  opacity: 1;
  transition: 0.5s;
}


section:nth-child(3) button p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: var(--font-color);
  display: block;
  font-size: 1em;
  margin: 0;
}
section:nth-child(3) div button:first-of-type {
  left: 10px;
  top: 47%;
}
section:nth-child(3) div button:last-of-type {
  right: 10px;
  top: 47%;
}

@media only screen and (max-width: 802px) {
  section:nth-child(3) {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  section:nth-child(3) h2 { 
    display: none;
  }
  section:nth-child(3) img {
    width: 50vw;
  }
  section:nth-child(3) button {
    display: none;
  }
}


/* ------------------------------------------------------------------------------------------ */
/* ----- fourth section ----- */

section:nth-child(4) {
  display: flex;
  gap: 2em;
}
section:nth-child(4) article:first-of-type {
  margin-left: 2em;
}
section:nth-child(4) article:last-of-type {
  margin-right: 2em;
}
section:nth-child(4) article:first-of-type img, section:nth-child(4) article:last-of-type img {
  width: 100%;
}
section:nth-child(4) h3 {
  cursor: pointer;
}

@media only screen and (max-width: 745px) {
  section:nth-child(4) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    gap: 2em;
  }
  section:nth-child(4) article:first-of-type, section:nth-child(4) article:last-of-type {
    margin: 0 2em;
  }
}


/* ------------------------------------------------------------------------------------------ */
/* ----- footer ----- */

footer {
  display: flex;
  margin-top: 10em;
  padding-bottom: 2em;
}
footer ul {
  list-style-type: none;
  padding: 0;
  
}
footer li {
  font-size: 0.8em;
  line-height: 2em;
  cursor: pointer;
}
footer div:nth-child(2) li {
  line-height: 1.3em;
}

footer p {
  font-size: 0.8em;
  padding-top: 0.5em;
}

footer div {
  padding: 0 1em 0 2em;
  flex-grow: 1;
}
footer div:first-of-type {
  flex-grow: 2;
  max-width: 33%;
}

footer details {
  display: none;
}

/* FOOTER menu */

@media only screen and (max-width: 1000px) {
  footer {
    display: block;
    margin-top: 4em;
  }
  footer div:first-of-type,footer div:nth-child(6), footer div:nth-child(7) h3, footer div:nth-child(8), footer div:last-of-type {
    display: none;
  }
  footer div:nth-child(7) {
    margin-top: 2em;
  }

  footer p, footer ul {
    max-width: 88vw;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.726);
  }
  footer div:nth-child(7) ul {
    border-bottom: none;
  }

  footer details {
    display: block;
    margin-left: 2em;
  }
  footer summary {
    position: relative;
    width: 94vw;
    max-width: 100%;
    font-family: var(--main-font);
    font-size: 0.8em;
    font-weight: 600;
    padding: 20px 0;
    border-bottom: 1px solid rgba(224, 224, 224, 0.726);
    cursor: pointer;
    list-style-type: none;
    outline: none;
  }
  footer summary::-webkit-details-marker {
    display: none
  }
  
  footer summary::after {
    content: ' \002B';
    position: absolute;
    font-size: 1.2em;
    right: 4%;
  }
  footer details[open] summary:after {
    content: " \002D";
    position: absolute;
    font-size: 1.2em;
    right: 4%;
  }
}

@media only screen and (max-width: 925px) {
  footer {
    max-width: 96%;
  }
}
@media only screen and (max-width: 845px) {
  footer {
    max-width: 95%;
  }
}
@media only screen and (max-width: 745px) {
  footer {
    max-width: 94%;
  }
}
/* ------------------------------------------------------------------------------------------ */
