*, *::after, *::before {
  box-sizing: border-box;  
  outline: none;
  font-family: 'Urbanist', sans-serif;
}
*::selection {
  background: #c3edf3;
}

:root {
  --fontsize-xs: 0.6em;
  --fontsize-s: 0.8em;
  --fontsize-l: 1.6em;
  --fontweight-thin: 300;
  --fontweight-medium: 400;
  --fontweight-thick: 600;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1 {
  position: absolute;
  left: -1000px; /* makes it not visible on the screen but still visible in html for screenreaders*/
}
h2 {
  font-size: var(--fontsize-l);
  font-weight: var(--fontweight-medium);
}
h3 {
  font-size: var(--fontsize-s);
  font-weight: var(--fontweight-thick);
}
p {
  font-size: var(--fontsize-xs);
  font-weight: var(--fontweight-thin);
}
li {
  font-size: var(--fontsize-xs);
  font-weight: var(--fontweight-thin);
  list-style-type: none;
} 
a {
  font-size: var(--fontsize-s);
  color: black;
  text-decoration: none;
}
label {
  font-size: var(--fontsize-s);
  font-weight: var(--fontweight-thin);
} 
input[type=email] {
  font-size: var(--fontsize-s);
  font-weight: var(--fontweight-thin);
} 
input[type=submit] {
  font-size: var(--fontsize-s);
  font-weight: var(--fontweight-thick);
} 

/* ------------------------------------------------------------------------------------------ */

/* link underline animation */
.animateLink {
  display: inline;
  position: relative;
  overflow: hidden;
}
.animateLink::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 2%;
  background: black;
  transition-property: width;
  transition: 0.3s ease-out;
}
.animateLink:hover::after,
.animateLink:focus::after,
.animateLink:active::after {
  left: 0;
  right: auto;
  width: 100%;
}

/* prefers-reduced-motion */
@media (prefers-reduced-motion: reduce) {
  header svg path { /* removes etg. logo animation */
    animation: none !important; 
  }
  footer svg path:nth-child(2), /* removes twitter animation */
  footer svg path:last-of-type,
  footer div:last-of-type ul:hover svg { 
    animation: none !important;
  }
  .fade-in { /* NO animation with intersectionObserver*/
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition: none !important;
  }
}

/* ------------------------------------------------------------------------------------------ */

/* ----- ---------------------- ----- */
/* ----- CLASSES FOR JAVASCRIPT ----- */
/* ----- ---------------------- ----- */

/* changing header on scroll */
.fff {
  color: white;
}
.fffTransparent {
  background: rgba(255, 255, 255, 0.925);
}
.fff::after, .fffBg, .fffBg::before, .fffBg::after {
  background: white;
}
.fffFill {
  fill: white;
}

.ooo {
  color: black;
}
.oooBg, .oooBg::before, .oooBg::after {
  background: black;
}
.oooFill {
  fill: black;
}

.transparent {
  background: transparent;
}


/* intersection observer */
.fade-in {
  opacity: 0;
  transform: translateY(10%);
  transition: opacity 150ms ease-in, transform 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
  transform: translateY(0);
}



/* ------------ ----- */
/* ----- HEADER ----- */
/* ----- ------ ----- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 97vw;
  max-width: 97vw;
  z-index: 3;
  margin: 0.8em 0 0 0.8em;
  padding: 0.6em 1.2em 0.4em 0.6em;
  user-select: none;
}

/* etq logo */
header svg {
  width: 90px;
  margin: 0.2em 0 0 1em;
  overflow: visible;
}
header svg path {
  animation: etq 6s infinite;
	transform-origin: center bottom;
}
header svg path:nth-of-type(1) {
  animation-delay: 0s;
}
header svg path:nth-of-type(2) {
  animation-delay: 0.2s;
}
header svg path:nth-of-type(4) {
  animation-delay: 0.4s;
}
  
@keyframes etq { /* bouncing logo */
	0%, 25%, 100% { transform: none; }
	5% { transform: scale(1.2, 0.8); }
	10% { transform: scale(0.8, 1.5) translateY(-0.25em); }
	15% { transform: scale(1, 0.7); }
	20% { transform: scale(0.9, 1.1); }
}

header div:first-of-type a:focus svg {
  transform: scale(-1, -1);
}


/* header for screen min-width: 1000px */
header nav {
  display: flex;
  flex-direction: row;
  width: 86vw;
  padding: 0 2em;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 210px;
}
header nav ul li {
  flex-direction: row;
}
header nav ul li a {
  font-size: 1.6em;
}

header div:last-of-type {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
}
header div:last-of-type:focus-within {
  background: #00BCD4;
}
header div:last-of-type a {
  align-items: center;
  font-size: 0.8em;
  line-height: 26px;
}

/* ----- ---------------- ----- */
/* ----- HEADER HAMBURGER ----- */
/* ----- ---------------- ----- */
header details {
  display: none;
}

@media only screen and (max-width: 1000px) {
  header {
    max-width: 97%;
  }
  header details {
    display: block;
  }
  header details ul {
    background: white;
    width: 100%;
    height: 86vh;
    position: absolute;
    left: 0;
    padding: 10px;
  }
  header details ul li {
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.726);
  }
  header details ul li a {
    font-size: 1.6em;
  }

  header summary {
    width: 35px;
    height: 35px;
    list-style-type: none;
    cursor: pointer;
  }
  header summary::-webkit-details-marker { /*removes marker in Safari (on mobile phone)*/
    display: none;
  }
  header summary span {
    position: absolute;
    display: block;
    top: 50%;
    width: 18px;
    height: 2.6px;
    margin: 0px 10px 0px 20px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
  }
  header summary span::before,
  header summary span::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 2.6px;
    border-radius: 4px;
  }
  header summary span::before {
    top: 6px;
  }
  header summary span::after {
    top: -6px;
  }

  header nav {
    display: none;
  }
}
@media only screen and (max-width: 925px) {
  header {
    max-width: 96%;
  }
}
@media only screen and (max-width: 845px) {
  header {
    max-width: 95%;
  }
}
@media only screen and (max-width: 745px) {
  header {
    max-width: 94%;
  }
}





/*---------------------------------------------------------------------*/
/* ---------------------- */

section {
  letter-spacing: 2px;
}


/* ----- ------------- ----- */
/* ----- FIRST SECTION ----- */
/* ----- ------------- ----- */
/*  banner with img and text */

section:first-of-type {
  position: relative;
}

section:first-of-type img {
  left:0;
  top: 0;
  width: 70%;
  height: 100vh;
  object-fit: cover;
}
section:first-of-type div {
  position: absolute;
  left: 70%;
  top: 50%;
  padding: 0 9% 1.6% 3%;
  transform: translateY(-50%);
} 

@media only screen and (max-width: 1000px) {
  section:first-of-type img {
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  section:first-of-type div {
    position: absolute;
    left: 2%;
    top: 70%;
    max-width: 400px;
    transform: translateY(0%);
    color: white;
  }
  section:first-of-type a {
    color: white;
  }
  .animateLink::after {
    background: white;
  }
}

section:first-of-type h2 em {
  font-style: normal;
  background: linear-gradient(120deg, #63c4fd 0%, #3de295 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
section:first-of-type h2 em:hover { 
  background-size: 100% 88%;
}

section:first-of-type p {
  line-height: 200%;
}





/* ----- -------------- ----- */
/* ----- SECOND SECTION ----- */
/* ----- -------------- ----- */
/*         3 articles         */

section:nth-child(2) {
  display: flex;
  padding: 4em 0 0 2em;
  gap: 2em;
}
section:nth-child(2) article {
  display: flex;
  align-items: center;
  width: 100vw;
}
section:nth-child(2) div {
  padding-left: 2em;
} 
section:nth-child(2) img {
  width: 44%;
}
section:nth-child(2) a {
  font-size: 0.6em;
  line-height: 6em;
}

@media only screen and (max-width: 745px) {
  section:nth-child(2) {
    flex-wrap: wrap;
    gap: 1em;
  }
  section:nth-child(2) article:nth-child(2), 
  section:nth-child(2) article:last-of-type {
    width: 47%;
  }
}

@media only screen and (max-width: 1000px) {
  section:nth-child(2) {
    margin-top: 2em;
  }
  section:nth-child(2) {
    padding-right: 2em;
  }
  section:nth-child(2) article {
    display: block;
  }
  section:nth-child(2) div {
    padding: 0;
  }
  section:nth-child(2) img {
    width: 100%;
  }
}





/* ----- ------------- ----- */
/* ----- THIRD SECTION ----- */
/* ----- ------------- ----- */
/*    3 product carousels    */

section:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 2em;
  padding-top: 1em;
  gap: 2em;
}
section:nth-child(3) div {
  position: relative;
  flex: 1;
}
section:nth-child(3) img {
  width: 100%;
}
section:nth-child(3) h2 {
  width: 100%;
  margin: 2em 0 0 0;
}

section:nth-child(3) button {
  position: absolute;
  height: 7%;
  width: 9%;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.822);
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: 1s;
  opacity: 0;

  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1em;
}

section:nth-child(3) div button:focus  {
  opacity: 1;
  transition: 0.5s;
  border: 1px dashed;
}
section:nth-child(3) div:hover button,
section:nth-child(3) div button:active {
  opacity: 1;
  transition: 0.5s;
  border: 1px solid white;
}

section:nth-child(3) div button:first-of-type {
  left: 10px;
  top: 47%;
}
section:nth-child(3) div button:last-of-type {
  right: 10px;
  top: 47%;
}

@media only screen and (max-width: 802px) {
  section:nth-child(3) {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  section:nth-child(3) h2, 
  section:nth-child(3) button { 
    display: none;
  }
  section:nth-child(3) img {
    width: 50vw;
  }
}





/* ----- -------------- ----- */
/* ----- FOURTH SECTION ----- */
/* ----- -------------- ----- */
/*         2 articles         */

section:nth-child(4) {
  display: flex;
  padding-top: 3em;
  gap: 2em;
}
section:nth-child(4) article img {
  width: 100%;
}
section:nth-child(4) article:first-of-type {
  margin-left: 2em;
}
section:nth-child(4) article:last-of-type {
  margin-right: 2em;
} 
section:nth-child(4) h3 {
  cursor: pointer;
}

@media only screen and (max-width: 745px) {
  section:nth-child(4) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    gap: 2em;
  }
  section:nth-child(4) article {
    margin: 0 2em;
  }
}





/* ----- ------------ */
/* ----- FOOTER ----- */
/* ----- ------ ----- */

footer {
  position: relative;
  display: flex;
  margin-top: 10em;
  padding-bottom: 2em;
}
footer ul {
  padding: 0;
  list-style-type: none;  
}
footer li {
  font-size: 0.8em;
  line-height: 2em;
  cursor: pointer;
}
footer div:nth-child(2) li {
  line-height: 1.3em;
}

footer p {
  padding-top: 0.5em;
  font-size: 0.8em;
}

footer div {
  padding: 0 1em 0 2em;
  flex-grow: 1;
}
footer div:first-of-type {
  flex-grow: 2;
  max-width: 33%;
}

footer details, footer form {
  display: none;
}

footer div:nth-of-type(2) ul li:hover {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z'/%3E%3C/svg%3E") 25 15, pointer;
}
footer div:nth-of-type(3) ul li:first-of-type:hover {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12 12.713l-11.985-9.713h23.971l-11.986 9.713zm-5.425-1.822l-6.575-5.329v12.501l6.575-7.172zm10.85 0l6.575 7.172v-12.501l-6.575 5.329zm-1.557 1.261l-3.868 3.135-3.868-3.135-8.11 8.848h23.956l-8.11-8.848z'/%3E%3C/svg%3E") 25 15, pointer;
}
footer div:nth-of-type(3) ul li:last-of-type:hover {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M18.48 22.926l-1.193.658c-6.979 3.621-19.082-17.494-12.279-21.484l1.145-.637 3.714 6.467-1.139.632c-2.067 1.245 2.76 9.707 4.879 8.545l1.162-.642 3.711 6.461zm-9.808-22.926l-1.68.975 3.714 6.466 1.681-.975-3.715-6.466zm8.613 14.997l-1.68.975 3.714 6.467 1.681-.975-3.715-6.467z'/%3E%3C/svg%3E") 25 15, pointer;
}

/* ----- twitter animation ----- */
footer svg {
	position: absolute;
  bottom: 30%;
  right: 8vw;
	height: 3vh;
	transform: rotate(20deg);
}

footer svg path:first-of-type { /* 1st wing */
	fill: #5da8dc;
}
footer svg path:nth-child(2) { /* 2nd wing */
	fill: #5da8dc;
	transform-origin: center;
	animation: flapperen 0.4s ease-out infinite alternate;
}	
footer svg path:last-of-type { /* body of bird */
	fill: #c4dff2;
	transform-origin: center;
	animation: flapperen 0.4s ease-in infinite alternate;
}	 	
footer div:last-of-type:hover svg {
  animation: vliegen 10s ease-out ;
}

@keyframes flapperen { /* flapping wings */
  50% { transform: scaleX(-1) rotate(-45deg) translate(-40px,-40px); }
}

@keyframes vliegen { /* flying across screen */
  0% { transform: translate(0, 0); }
  10% { transform: translate(2em, -2em); }
  15% { transform:  translate(2em, -2em) scale(-1, 1); }
  100% { transform: scale(-1, 1) translate(84em, -6em); }
}




/* ----- ------------------ ----- */
/* ----- FOOTER 'HAMBURGER' ----- */
/* ----- ------------------ ----- */

@media only screen and (max-width: 1000px) {
  footer {
    display: block;
    margin: 4em 0 2em 0;
    max-width: 100vw;
  }
  footer div:first-of-type,
  footer div:nth-child(6), 
  footer div:nth-child(7) h3, 
  footer div:nth-child(8), 
  footer div:last-of-type {
    display: none;
  }
  footer div:nth-child(7) {
    margin-top: 2em;
  }

  footer p, footer ul {
    max-width: 88vw;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.726);
  }
  footer div:nth-child(7) ul {
    border-bottom: none;
  }

  footer details {
    display: block;
    margin-left: 2em;
  }
  footer summary {
    position: relative;
    max-width: 100%;
    width: 94vw;
    padding: 20px 0;
    font-size: 0.8em;
    font-weight: 600;
    list-style-type: none;
    border-bottom: 1px solid rgba(224, 224, 224, 0.726);
    cursor: pointer;
  }
  footer summary::-webkit-details-marker {
    display: none
  }
  
  footer summary::after,
  footer details[open] summary::after {
    position: absolute;
    right: 4%;
    font-size: 1.2em;
  }
  footer summary::after {
    content: ' \002B'; /* plus sign */
  }
  footer details[open] summary::after {
    content: " \002D"; /* minus sign */
  }

  footer form {
    display: block;
    margin-left: 2em;
    max-width: 100%;
  }
  footer form label[for=email] {
    line-height: 1.3em;
    margin-right: 1em;
  }

  footer form input[type=email] {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    line-height: 1.3em;
    margin-right: 1em;
  }
  footer form input[type=email]:focus {
    border-bottom: 1px solid black;
  }
  footer form input[type=submit] {
    background: none;
    border: none;
    border-bottom: 1px solid black;
    line-height: 1.3em;
    color: black;
    font-size: var(--fontsize-s);
    font-weight: var(--fontweight-thin);
    margin: 0;
  }
}

@media only screen and (max-width: 925px) {
  footer {
    max-width: 96%;
  }
}
@media only screen and (max-width: 845px) {
  footer {
    max-width: 95%;
  }
}
@media only screen and (max-width: 745px) {
  footer {
    max-width: 94%;
  }
}